.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
  
.text {
    height: 20%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.search-bar {
    height: 50%;
    width: 50%;
    text-align: center;
}
  