.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
  
.text .p {
    height: 20%;
    text-align: center;
}

.search-bar {
    height: 50%;
    text-align: center;
}
  