.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    flex-direction: column;
    margin: auto;
}
  
.text {
    flex: 1;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    background: #FFAE00;
    background: repeating-linear-gradient(to right, #FFAE00 0%, #FF1A16 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    display: flex;
    align-items: center;
    justify-items: center ;
}

.main {
    height: 10%;
    width: 50%;
    text-align: center;
}

.header {
    height: 10%;
    width: 100%;
    display: flex;
    padding: 15px;

    .upload-button {
        height: 100%;
        flex: 1;
    }

    .theme {
        flex: 1;
    }
}

.search-bar {
    margin-bottom: 1rem;
}

.mapped-data {
    height: 80%;
    width: 100%;
    flex: 1;
    padding: 2rem;
    text-align: left;
    justify-content: start; 

    .title-data {
        width: 50%;
    }

    .paragraph-data {
        width: 50%;
    }

    .reference-data {
        width: 50%;
    }
}


@media only screen and (max-width: 1024px) {
    .main {
      width: 100%;
      padding: 1rem;
    }

    .title {
        margin-left: 10%;
    }
}